<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    @* <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>*@
    @* ReSharper disable once NotAllPathsReturnValue *@
    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            jQuery(document).ready(function () {
                DataGridSet();                
            })
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },
                     
              //{ field: 'FundInfoId', title: '主键', width: 100, sortable: true }, 
              { field: 'TName', title: '名称', width: 100, sortable: true }, 
              { field: 'SCode', title: '代号', width: 100, sortable: true }, 
              //{ field: 'IConUrl', title: '图标', width: 100, sortable: true }, 
              //{ field: 'Orders', title: '排序', width: 100, sortable: true }, 
              { field: 'NeedScores', title: '资格（金额）', width: 100, sortable: true }, 
              { field: 'Scores', title: '启动（金额）', width: 100, sortable: true }, 
              { field: 'Summarys', title: '简述', width: 100, sortable: true }, 
              //{ field: 'Details', title: '详情', width: 100, sortable: true }, 
              //{ field: 'StarTime', title: '开始时间', width: 100, sortable: true }, 
              //{ field: 'EndTime', title: '结束时间', width: 100, sortable: true }, 
              //{ field: 'CreateTime', title: '添加时间', width: 100, sortable: true }, 
              //{ field: 'UpdateTime', title: '修改时间', width: 100, sortable: true }, 
              //{ field: 'isValid', title: '是否有效', width: 100, sortable: true }, 
              //{ field: 'isDeleted', title: '是否删除', width: 100, sortable: true }
                    ]],
                    iconCls: 'icon-save',
                    //title: '基金设置',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }
            //刷新
            function ReloadOP() {
                $("#dg").datagrid("reload");
            }
            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 20,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff");
                //$("input[name='HouseNo']").focus();
                //$("#ff input[name='Tel']").removeAttr("disabled");

            }

            //查看
            function ShowOP() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    // $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivShow").dialog('open').dialog('setTitle', '查看-'+rows.TName).window('resize', { top: 20 });
                DataBaseFunction.BindForm("fshow", rows);
                //if (rows.Types == 0) {
                //    $("#fshow span[name='Types']").html('转账');
                //} else {
                //    $("#fshow span[name='Types']").html('购物');

                //}
            }
            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivEditor").dialog('open').dialog('setTitle', '修改-'+rows.TName).window('resize', { top: 20 });
                $(".validatebox-tip").remove();//清除验证样式

                //$("#ff input[name='HouseCode']").attr("disabled", "true");

                var ID = rows.FundInfoId;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        //var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        //$("input[name='HouseNo']").focus();
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");
                    }
                });

            }

            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索
            function Search() {

                // $("#fSearh").form("clear");
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "FundInfoId", "Name");
            }
        </script>
    }

</head>
<body  class="easyui-layout"  >


       <!-- 一行高度是48px; -->
    <div id="div_Searh" data-options="region:'north',split:true" style="height:48px;">
        <form id="fSearh">
            <table class="stripes" style="table-layout: fixed;margin-top:5px; width: 100%;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 80px;">
                        <label>关键词：</label></td>
                    <td style="width: 160px;">
                        <input type="text" class="textbox" name="TName|SCode_like" style="width: 120px;" />
                    </td>                    
                    <td><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>                    
                        <a href="javascript:void(0)" class="easyui-linkbutton" style="float: left;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
                    </td>            
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',title:'基金设置',split:true">
          <table id="dg"></table>
    </div>   
    <!------------------------弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 630px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:450,width:610,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">

                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="FundInfoId" /><input type="hidden" name="CreateTime" />
                    <input type="hidden" name="UpdateTime" /><input type="hidden" name="isValid" />
                    <input type="hidden" name="isDeleted" /><tr>
                        <td style="width:120px;">
                            <label >名称：</label></td>
                        <td style="width:480px;">
                            <input class="easyui-validatebox textbox" type="text" name="TName" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>代号：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="SCode" onkeyup="clearNoNumberContainDot(this)"/></td>
                    </tr>
                    <tr>
                        <td>
                            <label>资格(金额)：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this)" name="NeedScores" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>启动(金额)：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" onkeyup="clearNoNumberContainDot(this)" name="Scores"/></td>
                    </tr>
                    <tr>
                        <td>
                            <label>简述：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Summarys" /></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>详情：</label></td>
                        <td>
                            <textarea  class="areabox"  name="Details" ></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <label>开始时间：</label></td>
                        <td>
                            <input id="StarTime" class="easyui-datebox" type="text" name="StarTime" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>结束时间：</label></td>
                        <td>
                            <input id="EndTime" class="easyui-datebox"  name="EndTime" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>

    <!------------------------弹出查看层---------------------------------->
    <div id="DivShow" class="easyui-dialog" style="width: 600px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:400,width:580,border:false">
            <form id="fshow" method="post" enctype="multipart/form-data">

                 <table class="stripes" style="table-layout: fixed;" border="0"  cellspacing="0" cellpadding="0">
<tr><td style="width:120px;"><label >名称：</label></td><td style="width:480px;"><span   name="TName"  ></span></td></tr>
<tr><td style="width:120px;"><label >代号：</label></td><td><span   name="SCode"  ></span></td></tr>
<tr><td style="width:120px;"><label >图标：</label></td><td><span   name="IConUrl"  ></span></td></tr>
<tr><td style="width:120px;"><label >资格（金额）：</label></td><td><span   name="NeedScores"  ></span></td></tr>
<tr><td style="width:120px;"><label >启动（金额）：</label></td><td><span   name="Scores"  ></span></td></tr>
<tr><td style="width:120px;"><label >简述：</label></td><td><span   name="Summarys"  ></span></td></tr>
<tr><td style="width:120px;"><label >详情：</label></td><td><span   name="Details"  ></span></td></tr>
<tr><td style="width:120px;"><label >开始时间：</label></td><td><span   name="StarTime"  ></span></td></tr>
<tr><td style="width:120px;"><label >结束时间：</label></td><td><span   name="EndTime"  ></span></td></tr>
 </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivShow').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>

