<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    @* <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>*@
    @* ReSharper disable once NotAllPathsReturnValue *@

        <!-- 编辑器Star-->

    <link href="~/Content/umditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="~/Content/umditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/umditor/umeditor.min.js"></script>
    <script type="text/javascript" src="~/Content/umditor/lang/zh-cn/zh-cn.js"></script>


    <script type="text/javascript" charset="utf-8" src="~/Content/js/Sys_FileUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    <!--省 市 区 联动-->
    <script src="~/Content/js/area.js"></script>
    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            jQuery(document).ready(function () {
                DataGridSet();
                $('#States').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=States');  // 使用新的URL重新载入列表数据
                _init_area();//初始化省市区联动
            })
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },

              { field: 'LoginName', title: '登录名', width: 100, sortable: true },
              { field: 'TrueName', title: '姓名', width: 100, sortable: true },
              //{ field: 'Levels', title: '等级', width: 100, sortable: true },
              //{ field: 'Scores', title: '积分', width: 100, sortable: true },

              //{ field: 'tags', title: '标签(组)', width: 100, sortable: true },

              //{ field: 'IsOnline', title: '状态（1在线 0 下线 ）', width: 100, sortable: true },
              { field: 'TName', title: '名称', width: 100, sortable: true },
               {
                   field: 'ImageUrl', title: '图片', width: 100, sortable: true, formatter: function (value, row, index) {
                       return '  <img  src="' + row.ImageUrl + '" style="width: 50px; height: 50px;" />';
                   }
               },
              { field: 'Star', title: '星级', width: 100, sortable: true },
              { field: 'Phone', title: '电话', width: 100, sortable: true },
              { field: 'Details', title: '详情', width: 100, sortable: true },
              //{ field: 'CategoryId', title: '类别', width: 100, sortable: true }, 
              { field: 'CreateMan', title: '创建人', width: 100, sortable: true },
              { field: 'ProvinceCode', title: '省', width: 100, sortable: true },
              { field: 'CityCode', title: '城市', width: 100, sortable: true },
              { field: 'AreaCode', title: '区', width: 100, sortable: true },
              { field: 'Address', title: '地址', width: 100, sortable: true },
              { field: 'CallCount', title: '呼叫量', width: 100, sortable: true },
              { field: 'Praises', title: '赞', width: 100, sortable: true },
              { field: 'Clicks', title: '点击数', width: 100, sortable: true },
              { field: 'CreateTime', title: '添加时间', width: 100, sortable: true },
                    {
                        field: 'States', title: '状态', width: 100, sortable: true, formatter: function (value, row, index) {
                            if (row.States == 2) {
                                return "已经审核";
                            } else if (row.States == 1) {
                                return "开户";
                            } else if (row.States == 0) {
                                return "未审核";
                            }
                            else if (row.States == -1) {
                                return "关闭";
                            }
                        }
                    }
                    ]],
                    iconCls: 'icon-save',
                    title: '店铺',
                    nowrap: true,
                    fit: true,
                    //fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }
            //刷新
            function ReloadOP() {
                $("#dg").datagrid("reload");
            }
            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 20,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff");
                //$("input[name='HouseNo']").focus();
                //$("#ff input[name='Tel']").removeAttr("disabled");

                $("#imgLogo").attr('src', "");
                //$("#imgLogoM").attr('src', "");
                UM.getEditor('Details').setContent("", false);
                change(0);//省城市默认选择第一个
                var map = new BMap.Map("Mapcontainer");          // 创建地图实例  
                var opts = { type: BMAP_NAVIGATION_CONTROL_LARGE }
                map.addControl(new BMap.NavigationControl(opts));
                var point = new BMap.Point(108.321465, 22.832497);  // 创建点坐标 默认
                $("input[name='Longitude']").val(108.321465);//默认
                $("input[name='Latitude']").val(22.832497)//默认
                map.centerAndZoom(point, 12);                 // 初始化地图，设置中心点坐标和地图级别 
                var marker = new BMap.Marker(point);
                map.addOverlay(marker);                     // 将标注添加到地图中
                marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画  

                map.addEventListener("click", function (e) {//点击事件
                    map.clearOverlays();//清除
                    $("input[name='Longitude']").val(e.point.lng);
                    $("input[name='Latitude']").val(e.point.lat);
                    var point = new BMap.Point(e.point.lng, e.point.lat);  // 创建点坐标   
                    var marker = new BMap.Marker(point);
                    map.addOverlay(marker);                     // 将标注添加到地图中
                    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画  

                });
                GetFileList();


            }

            //查看
            function ShowOP() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    // $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivShow").dialog('open').dialog('setTitle', '查看-' /*+ rows.Name*/).window('resize', { top: 20 });
                DataBaseFunction.BindForm("fshow", rows);
                //if (rows.Types == 0) {
                //    $("#fshow span[name='Types']").html('转账');
                //} else {
                //    $("#fshow span[name='Types']").html('购物');

                //}
            }
            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' /*+ rows.Name*/).window('resize', { top: 20 });
                $(".validatebox-tip").remove();//清除验证样式

                //$("#ff input[name='HouseCode']").attr("disabled", "true");

                var ID = rows.ShopId;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        //var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        //$("input[name='HouseNo']").focus();
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");
                    }
                });

            }

            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索
            function Search() {

                // $("#fSearh").form("clear");
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "ShopId", "Name");
            }

            function FileHeadSave() {
                //----上传头像
                var FileId = "";
                $("input[name='Details']").val("");//html带有非法字符
                $("#ff").form('submit', {
                    url: "/httpHandle/UploadHandler.ashx?action=addImg&SourceTable=TT_Shop",
                    onSubmit: function () {

                    },
                    success: function (data) {
                        var d = eval('(' + data + ')');
                        if (d.Success) {
                            var imgList = eval('(' + d.Data + ')');
                            $("#imgLogo").attr('src', imgList[0].Route + imgList[0].RelativePath);
                            $("input[name='ImageUrl']").val(imgList[0].Route + imgList[0].RelativePath)

                            var file = $("input[name='file1']");//清空文件
                            file.after(file.clone().val(""));
                            file.remove();
                        }
                        else {
                            alerts(d.Message, 5);
                        }

                    }
                })
            }

            function FileHeadSaveM() {
                //----上传头像
                var FileId = "";
                $("input[name='Details']").val("");//html带有非法字符
                $("#ff").form('submit', {
                    url: "/httpHandle/UploadHandler.ashx?action=addImg&SourceTable=TS_ShopUser",
                    onSubmit: function () {

                    },
                    success: function (data) {
                        var d = eval('(' + data + ')');
                        if (d.Success) {
                            var imgList = eval('(' + d.Data + ')');
                            $("#imgLogoM").attr('src', imgList[0].FullRoute);
                            $("input[name='ImageUrlMax']").val(imgList[0].FullRoute);

                            var file = $("input[name='fileM']");//清空文件
                            file.after(file.clone().val(""));
                            file.remove();
                        }
                        else {
                            alerts(d.Message, 5);
                        }

                    }
                })
            }
            function AddImg() {
                FileUp("TT_Shop")
            }
        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="dg"></table>

    <!------------------------搜索弹出层---------------------------------->
    <div id="Div_Searh" class="easyui-dialog" style="width: 380px; padding: 10px 20px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed; margin: 0 auto; width: 320px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 60px;">
                        <label>业主姓名：</label></td>
                    <td>
                        <input type="text" class="textbox" name="Name_like" style="width: 200px;" />
                    </td>

                </tr>
            </table>

        </form>
        <div style="text-align: center; width: 100%; margin: 5px 0px; display: block;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">关闭</a>
        </div>
    </div>
    <!------------------------弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 630px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:500,width:610,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">

                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="ShopId" />
                    <input type="hidden" name="UserId" />
                    <input type="hidden" name="ImageUrlMax" />
                    <input type="hidden" name="ImageUrl" />
                    <input type="hidden" name="CreateMan" />
                    <input type="hidden" name="CallCount" />
                    <input type="hidden" name="Praises" />
                    <input type="hidden" name="Clicks" />
                    <input type="hidden" name="CreateTime" />
                    <input type="hidden" name="UpdateTime" />
                    <input type="hidden" name="Longitude" />
                    <input type="hidden" name="Latitude" />
                    <input type="hidden" name="isDeleted" />
                    <tr>
                        <td style="width:120px;">
                            <label>店铺名称：</label></td>
                        <td style="width:480px;">
                            <input class="easyui-validatebox textbox" type="text" name="TName" /></td>
                    </tr>
                       <tr>
                        <td>
                            <label>图片：</label></td>
                        <td>

                            <img alt="" id="imgLogo" src="" style="width: 100px; height: 100px; margin-top: 10px;" />
                            <input type="file" name="file1" style="width: 50px;" onchange="FileHeadSave()" />
                        </td>

                    </tr>
                      <tr>
                        <td>
                            <label>图片集：</label></td>
                        <td>
                            <input type="file" id="fileimg" name="file" style="width: 50px;" onchange="AddImg()" />
                            <div style="display: none">
                                <div id="content" style="display: block; width: 100px; float: left; text-align: center;">
                                    <input id="fileId" type="hidden" />
                                    <img alt="" id="imgShow" src="ss" style="width: 100px; height: 100px; margin-top: 10px;" />
                                    <a id="jian" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'">移除</a>
                                </div>
                            </div>
                            <div id="zhi" style="display: block; width: 600px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>星级：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Star" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>电话：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Phone" /></td>
                    </tr>
       
                    <tr>
                        <td>
                            <label>类别：</label></td>
                        <td>
                            <select id="CategoryId" name="CategoryId" class="easyui-combotree" style="width: 200px;" data-options="required:true"></select></td>
                    </tr>
                     <tr>
                        <td>
                            <label>省/市/区：</label></td>
                        <td>
                            <select id="ProvinceCode" name="ProvinceCode">
                            </select>
                            <select id="CityCode" name="CityCode">
                            </select>
                            <select id="AreaCode" name="AreaCode">
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>地址：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Address" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>状态：</label></td>
                        <td>
                            <input id="States" class="easyui-combobox" name="States"
                                data-options="valueField:'ItemValue',textField:'ItemName',required:true" />

                        </td>
                    </tr>
                       <tr>
                        <td colspan="2">
                            <label>详情：</label></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <!--style给定宽度可以影响编辑器的最终宽度-->
                            <script type="text/plain" id="Details" name="Details" style="width: 900px; height: 200px;">
  
                            </script>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="Mapcontainer" style="height: 460px; width: 100%"></div>

                        </td>
                    </tr>
                </table>

            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>

    <!------------------------弹出查看层---------------------------------->
    <div id="DivShow" class="easyui-dialog" style="width: 600px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:460,width:580,border:false">
            <form id="fshow" method="post" enctype="multipart/form-data">

                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <label>主键：</label></td>
                        <td><span name="ShopId"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>用户Id：</label></td>
                        <td><span name="UserId"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>名称：</label></td>
                        <td><span name="TName"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>大图片：</label></td>
                        <td><span name="ImageUrlMax"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>图像：</label></td>
                        <td><span name="ImageUrl"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>星级：</label></td>
                        <td><span name="Star"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>电话：</label></td>
                        <td><span name="Phone"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>详情：</label></td>
                        <td><span name="Details"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>类别：</label></td>
                        <td><span name="CategoryId"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>创建人：</label></td>
                        <td><span name="CreateMan"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>省：</label></td>
                        <td><span name="ProvinceCode"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>城市：</label></td>
                        <td><span name="CityCode"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>区：</label></td>
                        <td><span name="AreaCode"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>地址：</label></td>
                        <td><span name="Address"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>呼叫量：</label></td>
                        <td><span name="CallCount"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>赞：</label></td>
                        <td><span name="Praises"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>点击数：</label></td>
                        <td><span name="Clicks"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>添加时间：</label></td>
                        <td><span name="CreateTime"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>修改时间：</label></td>
                        <td><span name="UpdateTime"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>经度：</label></td>
                        <td><span name="Longitude"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>纬度：</label></td>
                        <td><span name="Latitude"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>状态（2已审核、开启1，未审核0，关闭-1）：</label></td>
                        <td><span name="States"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label>是否删除：</label></td>
                        <td><span name="isDeleted"></span></td>
                    </tr>
                </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivShow').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>

