<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="/Content/Scripts/jquery-1.12.2.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>

    <!-- 地图Start-->
    
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=a3wNd0COKjujWVCggydwQUIR"></script>

    <!-- 地图end-->
    @RenderSection("Jsprepare", required: true)@*View页面自定义特定js/css使用*@
</head>

<body>
    @RenderBody()
</body>
</html>
