<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../../Content/css/global.css" rel="stylesheet">

@*   <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>*@
    @* <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>*@
    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="/Content/Scripts/bootstrap.min.js"></script>


    <!-- 地图Start-->
    
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=a3wNd0COKjujWVCggydwQUIR"></script>

    <!-- 地图end-->
    @RenderSection("Jsprepare", required: true)@*View页面自定义特定js/css使用*@
</head>

<body>
    @RenderBody()
</body>
</html>
