
.media{border-bottom: 1px solid #ddd;padding: 0px 15px 15px;}
.media .media-left{}
.media .media-left a{}
.media .media-left a img{width: 64px;height: 64px;}

.media-body{}
.media-body h4{padding-top: 5px;}
.media-body h4 small{font-size: 16px;}