
@font-face {font-family: "iconfont";
  src: url('../iconfont-footer/iconfont.eot?t=1461725831'); /* IE9*/
  src: url('../iconfont-footer/iconfont.eot?t=1461725831#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont-footer/iconfont.woff?t=1461725831') format('woff'), /* chrome, firefox */
  url('../iconfont-footer/iconfont.ttf?t=1461725831') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont-footer/iconfont.svg?t=1461725831#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouye:before { content: "\e657"; }
.icon-xiaoxi:before { content: "\e640"; }
.icon-haoyou:before { content: "\e7b3"; }
.icon-wode:before { content: "\e641"; }
