.login-main{margin-top: 30%;}
.login-main form .form-group{padding: 3% 0;}
.login-main form .form-group label{white-space:nowrap;height: 46px;line-height: 46px;}
.login-main form .form-group div.mar-t{margin-top: -25px;}