.banner{}
.banner .carousel-inner{
	width: 100%;
	height: 0;
	padding-bottom: 50%;
}
.banner .carousel-inner .item{
	width: 100%;
	height: 100%;
	position: absolute;
}
.banner .carousel-inner .item img{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}


.tabs-wrap{
	padding: 3% 0%;
}
.tabs-wrap div ul .tablist-box{
	width: 33.33333333%;
}
.tabs-wrap div .tab-content{
	background-color: orange;
}
.tabs-wrap div .tab-content .tab-pane{
	background-color: yellow;
}
.tabs-wrap div .tab-content .tab-pane .col-xs-6{
	border: 1px solid #ddd;
	padding: 0;height: 0;
	padding: 0% 0% 50% 0%;
	position: relative;
}
.tabs-wrap div .tab-content .tab-pane .col-xs-6 img{
	width: 60%;
	height: 60%;
	background-color: pink;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
}
