<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>首页</title>

<!-- Bootstrap -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/css/iconfont.css" rel="stylesheet">
<link href="~/Content/css/global.css" rel="stylesheet">
<link href="~/Content/css/index.css" rel="stylesheet"><!-- iPhone 5 Style -->
<!-- <link href="~/Content/css/index2.css" rel="stylesheet" media="screen and (min-width: 321px) and (max-width: 375px)"> -->
<!-- iPhone 6 Style -->
<!-- <link href="~/Content/css/index3.css" rel="stylesheet" media="screen and (min-width: 376px)"> -->
<!-- iPhone 6 Plue Style -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.~/Content/Scripts/1.4.2/respond.min.js"></script>
<![endif]-->
       @section Jsprepare{}
</head>
<body>
<div class="container-fluid body-box">
  <!--  -->
<!-- 导航 -->
<nav class="navbar top">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="top-icon-left" href="">
        <i class="icon-user"></i>
      </a> -->
      <!--  -->
      <div class="dropdown">
        <a class="dropdown-toggle top-icon-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="icon-plus"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li><a href="#">添加好友</a></li>
          <li><a href="#">我的二维码</a></li>
          <li><a href="#">使用帮助</a></li>
        </ul>
      </div>
      <!--  -->
    </div>
  </div>
</nav>
<!-- 头部菜单 -->
<div class="container">
  <div class="row">
    <div class="hd-icon-list clearfix">
      <a class="col-xs-4" href="QR_code.html"><i class="iconfont hd-icon">&#xe60c;</i><span class="hd-text">扫一扫</span></a>
      <a class="col-xs-4" href="camera.html"><i class="iconfont hd-icon">&#xe60d;</i><span class="hd-text">拍一拍</span></a>
      <a class="col-xs-4" href="search.html"><i class="iconfont hd-icon">&#xe60e;</i><span class="hd-text">搜一搜</span></a>
    </div>
  </div>
</div>
<!-- 主体菜单 -->
<div class="container">
  <div class="row">
    <div class="md-icon-list clearfix">
      <a class="col-xs-4" href="transfer.html"><i class="iconfont">&#xe601;</i><span class="md-text">转账</span></a>
      <a class="col-xs-4" href="payee.html"><i class="iconfont">&#xe603;</i><span class="md-text">收款</span></a>
      <a class="col-xs-4" href="quest.html"><i class="iconfont">&#xe600;</i><span class="md-text">任务</span></a>
      <a class="col-xs-4" href="cash.html"><i class="iconfont">&#xe605;</i><span class="md-text">提现</span></a>
      <a class="col-xs-4" href="payment.html"><i class="iconfont">&#xe604;</i><span class="md-text">付款</span></a>
      <a class="col-xs-4" href="mall.html"><i class="iconfont">&#xe602;</i><span class="md-text">商城</span></a>
    </div>
  </div>
</div>

<!-- 底部导航 -->
<nav class="navbar navbar-fixed-bottom footer">
  <div class="container">
    <div class="navbar-header">
      <a class="col-xs-3" href="#"><i class="iconfont active">&#xe609;</i><span class="ft-text">首页</span></a>
      <a class="col-xs-3" href="comment.html"><i class="iconfont">&#xe606;</i><span class="ft-text">消息</span></a>
      <a class="col-xs-3" href="group.html"><i class="iconfont">&#xe608;</i><span class="ft-text">好友</span></a>
      <a class="col-xs-3" href="/home/isRegister"><i class="iconfont">&#xe607;</i><span class="ft-text">我</span></a>
    </div>
  </div>
</nav>

  <!--  -->
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/Content/Scripts/jquery-1.12.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="~/Content/Scripts/bootstrap.min.js"></script>
</body>
</html>