<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>3W联盟</title>

<!-- Bootstrap -->
<link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../../Content/css/global.css" rel="stylesheet">
<link href="../../Content/css/friends.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container">
<!-- top nav -->
  <div class="row">
    <div class="col-xs-12 top-parent-box">
      <a class="col-xs-6 top-child-box" href="index.html"><div class=""><img class="center-block" src="../../Content/images/left.png" alt=""></div></a>
      <!-- <a class="col-xs-6 top-child-box" href="#"><div class="box-right"><img class="center-block" src="images/plus.png" alt=""></div></a> -->
    </div>
  </div>
</div><!-- /.container  -->

<!-- main -->
<div class="media md-box">
  <div class="media-left media-middle">
    <a href="#"><img class="media-object" src="../../Content/images/pic/pic.png" alt=""></a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">昵称 &nbsp;&nbsp;<a href="">aabbcc</a></h4>
    <h4 class="media-heading">姓名 &nbsp;&nbsp;<a href="">ddeeff</a></h4>
  </div>
</div>
<div class="media md-box">
  <div class="media-left media-middle">
    <a href="#"><img class="media-object" src="../../Content/images/pic/pic.png" alt=""></a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">昵称 &nbsp;&nbsp;<a href="">aabbcc</a></h4>
    <h4 class="media-heading">姓名 &nbsp;&nbsp;<a href="">ddeeff</a></h4>
  </div>
</div>
<div class="media md-box">
  <div class="media-left media-middle">
    <a href="#"><img class="media-object" src="../../Content/images/pic/pic.png" alt=""></a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">昵称 &nbsp;&nbsp;<a href="">aabbcc</a></h4>
    <h4 class="media-heading">姓名 &nbsp;&nbsp;<a href="">ddeeff</a></h4>
  </div>
</div>

<!-- footer nav -->
<div class="row">
    <div class="col-xs-12 col-md-12 footer-parent-box navbar-fixed-bottom">
      <a class="col-xs-3 col-md-3 footer-child-box" href="#"><div class="center-block"><img class="active" src="../../Content/images/home1.png" alt=""></div><span class="text-center current">首页</span></a>
      <a class="col-xs-3 col-md-3 footer-child-box" href="news.html"><div class="center-block"><img class="" src="../../Content/images/news1.png" alt=""></div><span class="text-center">消息</span></a>
      <a class="col-xs-3 col-md-3 footer-child-box" href="friends.html"><div class="center-block"><img class="" src="../../Content/images/friends1.png" alt=""></div><span class="text-center">好友</span></a>
      <a class="col-xs-3 col-md-3 footer-child-box" href="user.html"><div class="center-block"><img class="" src="../../Content/images/user1.png" alt=""></div><span class="text-center">我</span></a>
    </div>
  </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../Content/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../Content/js/bootstrap.min.js"></script>
</body>
</html>