<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="~/Content/js/Buttons.js"></script>
    <script src="~/Content/JqueryEasyUI/plugins/jquery.treegrid.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@
    <style type="text/css">
        #iconlist li {
            display: block;
            float: left;
        }

        a:hover {
            font-size: 12px;
        }

            a:hover span {
                font-weight: bold;
                color: #F00;
            }
    </style>
    @section Jsprepare{
        <script type="text/javascript">
     @Html.Raw(ViewBag.RuteUrl)

            var ManuId = "";
            function Del() {
                var rows = $('#tg').treegrid('getSelected');
                var postData = "";

                postData = {
                    IDSet: rows.Id
                };
                $.messager.confirm("删除信息", "您确认删除<font color='red' size='3'>" + rows.Name + "</font>吗？", function (DeleteRole) {
                    if (DeleteRole) {
                        $.get(BaseUrl + "Del", postData, function (data) {
                            if (data.Code > 0) {
                                //友情提示用户删除成功，刷新表格
                                $.messager.alert("友情提示", "删除成功");
                                SetTreeGridData();
                                //当删除完成之后，第二次删除的时候还记得上次的信息，这样是不可以的，所以我们需要清除第一次的信息
                                //第一种方法
                                rows.length = "";
                                //第二种方法
                                $("#tg").datagrid("clearSelections");
                            }
                            else {
                                $.messager.alert("友情提示", data.Msg);
                            }
                        });
                    }
                });

            }



            $(function () {

                $('#AreaTypes').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=AreaTypes');  // 使用新的URL重新载入列表数据
            @Html.Raw(ViewBag.toolbar)
                $('#tg').treegrid({
                    title: '数据词典',
                    iconCls: 'icon-ok',
                    fit: true,
                    fitColumns: true,
                    rownumbers: true,
                    animate: true,
                    collapsible: true,//是否展开
                    method: 'get',
                    idField: 'Id',
                    treeField: 'Name',
                    showFooter: true,
                    columns: [[
                        { title: '名称', field: 'Name', width: 180 },
              { field: 'OrderNo', title: '排序', width: 100, sortable: true },
              { field: 'TCode', title: '代号', width: 100, sortable: true },
              { field: 'AreaTypesName', title: '类型', width: 100, sortable: true },
              { field: 'iconCls', title: '图标', width: 100, sortable: true },
              { field: 'Remarks', title: '详情', width: 100, sortable: true }
                    ]],
                    toolbar: toolbars
                });
                $('#DeparTree').combotree({
                    width: 150,
                    emptyText: '请选择'
                });
                SetTreeGridData();

            })
            function SetTreeGridData() {
                $.ajax({
                    url: BaseUrl + 'GetJson',
                    type: 'POST',
                    cache: false,
                    error: function () { alert('Error loading SetTreeGridData document'); },
                    success: function (result) {
                        var data = eval(result);
                        $('#tg').treegrid('loadData', data);
                        $('#DeparTree').combotree('loadData', ConvertToTreeData(data));
                    }
                });
            }

            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加信息',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 100,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $("#ff").form("clear");
                var rows = $('#tg').treegrid('getSelected');
                if (rows != null) {

                    $('#DeparTree').combotree('setValue', rows.Id)
                }
            }
            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var postData = $("#ff").serializeArray();
                var Per = $('#DeparTree').combotree('getValue');
                if (Per == "") {

                    Per = '0';
                }
                var DeparId =
               {
                   'name': "ParentId",        //属性名用引号括起来，属性间由逗号隔开
                   'value': Per
               };

                postData.push(DeparId);
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', postData, function (data) {
                    if (data.Code >0) {
                        //添加成功  1.关闭弹出层，2.刷新DataGird
                        alert("编辑成功");
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        // $("#DivEditor").dialog("close");
                        SetTreeGridData();
                        $("#ff").form("clear");
                    }
                    else {
                        alert("编辑失败，请您检查");
                    }
                });

            }

            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $('#tg').treegrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    return;
                }
                //处理修改的信息，弹出修改的对话框,然后显示选择的的详细信息
                $("#DivEditor").dialog('open').dialog('setTitle', '修改信息').window('resize', { top: 100 });
                //首先发送一个异步请求去后台实现方法
                var ID = rows.Id;  //获取到了用选择的ID

                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (result) {

                        DataBaseFunction.BindForm("ff", result);
                        $('#DeparTree').combotree('setValue', result['ParentId']);
                        $('#AreaTypes').combobox('select', result.AreaTypes);
                    }
                });

            }
        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="tg"></table>

    <!------------------------搜索弹出层---------------------------------->
    <div id="Div_Searh" class="easyui-dialog" style="width: 380px; padding: 10px 20px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed; margin: 0 auto; width: 320px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 60px;">
                        <label>代号：</label></td>
                    <td>
                        <input type="text" class="textbox" name="TCode_like" style="width: 200px;" />
                    </td>

                </tr>
            </table>

        </form>
        <div style="text-align: center; width: 100%; margin: 5px 0px; display: block;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">关闭</a>
        </div>
    </div>
    <!------------------------弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 630px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:350,width:610,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">

           <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="CityAreaId" />
            
                    <input type="hidden" name="CreateTime" />
                    <input type="hidden" name="UpdateTime" />
                    <input type="hidden" name="isValid" />
                    <input type="hidden" name="isDeleted" />
               
                    <tr>
                        <td style="width:120px;">
                            <label>名称：</label></td>
                        <td style="width:480px;">
                            <input class="easyui-validatebox textbox" type="text" name="TName" /></td>
                    </tr>
                 <tr>
                        <td>
                            <label>代号：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="TCode" /></td>
                    </tr>
                 <tr>
                        <td>
                            <label>上级：</label></td>
                        <td>
                            <ul id="DeparTree"></ul>
                        </td>

                    </tr>
                   
              
                       <tr>
                        <td>
                            <label>类型：</label></td>
                        <td>
                            <input id="AreaTypes" class="easyui-combobox" name="AreaTypes"
                                data-options="valueField:'ItemValue',textField:'ItemName',required:true" />

                        </td>
                    </tr>
                 <tr>
                        <td>
                            <label>排序：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="OrderNo" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>图标：</label></td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Icon" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>详情：</label></td>
                        <td>
                            <textarea class="areabox" name="Remarks" style="height:100px;"></textarea></td>
                    </tr>
                </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>


</body>
</html>

