@model ZAppUI.Models.LoginModel
@{
    Layout = null;
    if (ViewData["IsShowAlert"] != null && ViewData["IsShowAlert"].ToString() == "True" && ViewData["Alert"] == "注册成功")
    {
        Response.Write(" <script> alert('" + ViewData["Alert"] + "');window.location.href='/home '; </script>");
    }
    if (ViewData["IsShowAlert"] != null && ViewData["IsShowAlert"].ToString() == "True")
    {
        Response.Write(" <script> alert('" + ViewData["Alert"] + "');</script>");      
    }
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @section Jsprepare{}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>注册</title>

<!-- Bootstrap -->
<link href="/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="/Content/css/font-awesome.min.css" rel="stylesheet">
<link href="/Content/css/global.css" rel="stylesheet">
<link href="/Content/css/reg.css" rel="stylesheet">
<link href="/Content/css/login.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.Content/Content/CSS/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- 导航 -->
<nav class="navbar top">
  <div class="container">
    <div class="navbar-header">
      <a class="top-icon-left" href="/home">
        <i class="icon-chevron-left"></i>
      </a>
    </div>
  </div>
</nav>
    
<!-- reg -->
    
     
    <div class="container">
        <div class="row">
            <div class="col-xs-12 login-pic">
                <img src=@ViewBag.src class="img-responsive center-block img-circle" alt="">
            </div>
        </div>      
      <div class="row">
         @using (Html.BeginForm("index", "Register", FormMethod.Post,new{@class="form-signin reg"}))
         {
      <form class="form-signin reg">          
        <h2 class="form-signin-heading text-center">注册账户</h2>
         @Html.TextBoxFor(m => m.Phone, new {@class="form-control",@placeholder="请输入您的手机号"})
         @Html.PasswordFor(m => m.FirstPassword,new { @class="form-control",@placeholder="请输入您的密码"})  
         @Html.PasswordFor(m => m.SecondPassword,new { @class="form-control",@placeholder="确认密码"})
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>         
      </form>
         }
      </div>
     </div>
     
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/Content/Scripts/jquery-1.12.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/Content/Scripts/bootstrap.min.js"></script>
</body>
</html>