<?xml version="1.0"?>
<sqls>
	<sqlxml id="getdemo">
		<defaultsql><![CDATA[所有数据库通用的查询语句,没有特别指定就使用语句]]></defaultsql>
		<sqlserver><![CDATA[]]></sqlserver>
		<mysql><![CDATA[]]></mysql>
		<sqlite><<![CDATA[]]></sqlite>
		<oracle><![CDATA[]]></oracle>
		<description><![CDATA[]]></description>
	</sqlxml>
</sqls>
