<!DOCTYPE html>
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    @* <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>*@
    @* ReSharper disable once NotAllPathsReturnValue *@
    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            jQuery(document).ready(function () {
                DataGridSet();

            })
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },
                     
              //{ field: 'InsuranCompanyId', title: '主键', width: 100, sortable: true }, 
              { field: 'TName', title: '名称', width: 100, sortable: true }, 
              { field: 'ApiUrl', title: '接口Url', width: 100, sortable: true }, 
              { field: 'IConUrl', title: '图标', width: 100, sortable: true }, 
              { field: 'Orders', title: '排序', width: 100, sortable: true }, 
              { field: 'SCode', title: '代号', width: 100, sortable: true }, 
              { field: 'Pkey', title: '公钥', width: 100, sortable: true }, 
              { field: 'Details', title: '详情', width: 100, sortable: true }, 
              //{ field: 'CreateTime', title: '添加时间', width: 100, sortable: true }, 
              //{ field: 'UpdateTime', title: '修改时间', width: 100, sortable: true }, 
              //{ field: 'isValid', title: '是否有效', width: 100, sortable: true }, 
              //{ field: 'isDeleted', title: '是否删除', width: 100, sortable: true }
                    ]],
                    iconCls: 'icon-save',
                    //title: '保险公司',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }
            //刷新
            function ReloadOP() {
                $("#dg").datagrid("reload");
            }
            //easyUI 弹出添加的对话框
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor').dialog({
                    title: '添加',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 20,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff");
                //$("input[name='HouseNo']").focus();
                //$("#ff input[name='Tel']").removeAttr("disabled");

            }

            //查看
            function ShowOP() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    // $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivShow").dialog('open').dialog('setTitle', '查看-' /*+ rows.Name*/).window('resize', { top: 20 });
                DataBaseFunction.BindForm("fshow", rows);
                //if (rows.Types == 0) {
                //    $("#fshow span[name='Types']").html('转账');
                //} else {
                //    $("#fshow span[name='Types']").html('购物');

                //}
            }
            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.TName).window('resize', { top: 20 });
                $(".validatebox-tip").remove();//清除验证样式

                //$("#ff input[name='HouseCode']").attr("disabled", "true");

                var ID = rows.InsuranCompanyId;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        //var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        //$("input[name='HouseNo']").focus();
                    }
                });

            }

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");
                    }
                });

            }

            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索
            function Search() {

                // $("#fSearh").form("clear");
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "InsuranCompanyId", "Name");
            }
        </script>
    }

</head>
<body  class="easyui-layout"  >


       <!-- 一行高度是48px; -->
    <div id="div_Searh" data-options="region:'north',split:true" style="height:48px;">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed;margin-top:5px; width: 100%;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 80px;">
                        <label>关键字查询：</label></td>
                    <td style="width: 120px;">
                        <input type="text" class="textbox" name="TName|SCode|Details_like" style="width: 120px;" />
                    </td>                   
<td><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style="float: left;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
                    </td>            
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',title:'保险公司',split:true">
          <table id="dg"></table>
    </div>   
    <!------------------------弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 630px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:400,width:610,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">

                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="InsuranCompanyId" value="" />
                    @*<tr>
                        <td style="width: 120px;">
                            <label>主键：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox textbox" type="text" name="InsuranCompanyId" /></td>
                    </tr>*@
                    <tr>
                        <td style="width: 120px;">
                            <label>保险公司名：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox textbox" type="text" name="TName" data-options="required:true,validType:'length[1,32]'" /></td>
                    </tr><tr>
                        <td style="width: 120px;">
                            <label>接口Url：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox textbox" type="text" name="ApiUrl" data-options="required:true,validType:'length[1,64]'"/></td>
                    </tr><tr>
                        <td style="width: 120px;">
                            <label>图标：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox" type="text" id="Icon" name="Icon" /><a id="selecticon" ref="javascript:;" plain="true" class="easyui-linkbutton" icon="icon-search" title="选择图标"></a>
                            </td>
                    </tr><tr>
                        <td style="width: 120px;">
                            <label>排序：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox textbox" type="text" name="Orders" /></td>
                    </tr><tr>
                        <td style="width: 120px;">
                            <label>代号：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox textbox" type="text" name="SCode" data-options="required:true,validType:'length[1,10]'"/></td>
                    </tr><tr>
                        <td style="width: 120px;">
                            <label>公钥：</label></td>
                        <td style="width: 490px;">
                            <input class="easyui-validatebox textbox" type="text" name="Pkey" /></td>
                    </tr>
                    <tr>
                        <td style="width: 120px;">
                            <label>详情：</label></td>
                        <td style="width: 490px;">
                            
                            <textarea class="areabox" name="Details" data-options="required:true,validType:'length[0,200]'"></textarea></td>
                    </tr>                    
                </table>

            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>

    <!------------------------弹出查看层---------------------------------->
    <div id="DivShow" class="easyui-dialog" style="width: 600px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:460,width:580,border:false">
            <form id="fshow" method="post" enctype="multipart/form-data">

                 <table class="stripes" style="table-layout: fixed;" border="0"  cellspacing="0" cellpadding="0">
<tr><td><label >主键：</label></td><td><span   name="InsuranCompanyId"  ></span></td></tr>
<tr><td><label >名称：</label></td><td><span   name="TName"  ></span></td></tr>
<tr><td><label >接口Url：</label></td><td><span   name="ApiUrl"  ></span></td></tr>
<tr><td><label >图标：</label></td><td><span   name="IConUrl"  ></span></td></tr>
<tr><td><label >排序：</label></td><td><span   name="Orders"  ></span></td></tr>
<tr><td><label >代号：</label></td><td><span   name="SCode"  ></span></td></tr>
<tr><td><label >公钥：</label></td><td><span   name="Pkey"  ></span></td></tr>
<tr><td><label >详情：</label></td><td><span   name="Details"  ></span></td></tr>
<tr><td><label >添加时间：</label></td><td><span   name="CreateTime"  ></span></td></tr>
<tr><td><label >修改时间：</label></td><td><span   name="UpdateTime"  ></span></td></tr>
<tr><td><label >是否有效：</label></td><td><span   name="isValid"  ></span></td></tr>
<tr><td><label >是否删除：</label></td><td><span   name="isDeleted"  ></span></td></tr>
 </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivShow').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>

