<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>3W联盟</title>

<!-- Bootstrap -->
<link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../../Content/css/global.css" rel="stylesheet">
<link href="../../Content/css/bill.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container">
<!-- top nav -->
<div class="row">
  <div class="col-xs-12 top-parent-box">
    <a class="col-xs-6 top-child-box" href="index.html"><div class=""><img class="center-block" src="../../Content/images/left.png" alt=""></div></a>
    <!-- <a class="col-xs-6 top-child-box" href="#"><div class="box-right"><img class="center-block" src="images/plus.png" alt=""></div></a> -->
  </div>
</div>

</div><!-- /.container -->


<!-- main -->
<table class="table table-striped text-center">
  <thead>
    <tr class="success">
      <th class="text-center">本月账单</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-center" scope="row">今天</th>
      <td>+1000元</td>
      <td>王婆转账</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">昨天</th>
      <td>+100元</td>
      <td>任务收益</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">前天</th>
      <td>+1000元</td>
      <td>金额充值</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">4.11</th>
      <td>-1000元</td>
      <td>任务支出</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped text-center">
  <thead>
    <tr class="warning">
      <th class="text-center">上月账单</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-center" scope="row">3.29</th>
      <td>+1000元</td>
      <td>王婆转账</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">3.20</th>
      <td>+100元</td>
      <td>任务收益</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">3.18</th>
      <td>+1000元</td>
      <td>金额充值</td>
    </tr>
    <tr>
      <th class="text-center" scope="row">3.11</th>
      <td>-1000元</td>
      <td>任务支出</td>
    </tr>
  </tbody>
</table>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../Content/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../Content/js/bootstrap.min.js"></script>
</body>
</html>