.main{}
.main .main-top{
	padding: 1% 0%;
	border: 1px solid #ddd;
}
.main .main-top h3{}
.main .main-top .col-xs-5,
.main .main-top .col-xs-3,
.main .main-top .col-xs-2{
	white-space: nowrap;
	padding: 0;
	line-height: 240%;
	border-left: 1px solid #ddd;
}
.main .main-top .col-xs-5{
	padding-left: 10px;
}
.main .main-top .border-none{
	border-left: 0;
	text-align: left;
}

.main .main-top .col-xs-3 form{}
.main .main-top .col-xs-3 form div{
	margin: 0% 2%;
	padding: 0 5px;
}

.main-md{
	padding: 2% 0%;
	white-space: nowrap;
	border-bottom: 1px solid #ddd;
}
.main-md .col-xs-3{}

.main-bt{
	margin: 5% 0% 10%;
}