.main{background-color: pink;}
.main .col-xs-12{background-color: green;height: 0;padding: 0% 0% 50%;margin: 10% 0%;}
.main .col-xs-12 a{display: block;width: 50%;height: 0;padding-bottom: 50%;background-color: blue;}/**/