.main{}
.main .col-xs-12{padding: 2% 0%;border-bottom: 1px solid #ddd;}
.main .col-xs-12 .col-xs-7{padding-right: 0;}
.main .col-xs-12 .col-xs-7 .media{}
.main .col-xs-12 .col-xs-7 .media .media-left{width: 30%;padding: 0;}
.main .col-xs-12 .col-xs-7 .media .media-left a{display: block;width: 100%;height: 0;padding-bottom: 100%;position: relative;}
.main .col-xs-12 .col-xs-7 .media .media-left a img{width: 100%;height: 100%;position: absolute;border-radius: 200px;}

.main .col-xs-12 .col-xs-7 .media .media-body{}


.main .col-xs-12 .col-xs-5{}
.main .col-xs-12 .col-xs-5 .row{}
.main .col-xs-12 .col-xs-5 .row .col-xs-6{padding: 0;padding-top: 8%;}
.main .col-xs-12 .col-xs-5 .row .col-xs-6 a{}
.main .col-xs-12 .col-xs-5 .row p{padding-top: 10%;color: #999;}

