*{padding: 0;margin: 0;}
body{font-family: "微软雅黑";padding-bottom: 20%;}
img{border: 0;}
a{color: #666;}
a:hover{text-decoration: none;}

.fl-l{float: left;}
.fl-r{float: right;}

/*.red{background-color: #E51C22;}
.blue{background-color: #018FD9;}*/


.top-parent-box{width: 100%;padding: 3% 0;background-color: #C72226;}
.top-parent-box .top-child-box div{width: 18%;height: 0;padding-bottom: 18%;position: relative;}
.top-parent-box .top-child-box div img{display: block;width: 100%;height: 100%;background-size: cover;position: absolute;}
.top-parent-box .top-child-box .box-right{float: right;}


/*.hd-parent-box{padding: 8% 0 0;background-color: #C72226;margin-bottom: 15%;}
.hd-child-box{width: 33.3333%;height: 0;padding-bottom: 33.3333%;border-sizing: border-box;}
.hd-child-box div{width: 70%;height: 0;padding-bottom: 70%;position: relative;}
.hd-child-box div img{display: block;width: 60%;height: 60%;position: absolute;top: 50%;left:50%;-webkit-transform: translate(-50%,-50%);}
.hd-child-box span{display: block;width: 100%;height: 0;padding-bottom: 30%;color: #fff;}


.md-parent-box{padding: 0;margin-bottom: 4%;}
.md-child-box{width: 33.3333%;height: 0;padding-bottom: 33.3333%;border-sizing: border-box;}
.md-child-box div{width: 60%;height: 0;padding-bottom: 60%;position: relative;background-color: #e51c22;border-radius: 10px;}
.md-child-box div.blue{background-color: #018fd9;}
.md-child-box div img{display: block;width: 70%;height: 70%;top: 50%;left:50%;-webkit-transform: translate(-50%,-50%);position: absolute;}
.md-child-box span{display: block;width: 100%;padding: 6% 0 0;color: #353535;}


.footer-parent-box{width: 100%;padding: 1% 0;border-top: 1px solid #d8d8d8;background-color: #fff;}
.footer-parent-box .footer-child-box div{width: 48%;height: 0;padding-bottom: 48%;position: relative;}
.footer-parent-box .footer-child-box div img{display: block;width: 100%;height: 100%;background-size: cover;position: absolute;background: #767676;}
.footer-parent-box .footer-child-box div img.active{background: #cc3103;}
.footer-parent-box .footer-child-box span{display: block;width: 100%;height: 100%;color: #353535;}
.footer-parent-box .footer-child-box span.current{color: #cc3103;}*/


@media(max-width: 320px){body{font-size: 14px;}}/*iPhone 5*/
@media(min-width: 321px) and (max-width: 413px){body{font-size: 16px;}}/*iPhone 6*/
@media(min-width: 414px) and (max-width: 639px){body{font-size: 18px;}}/*iPhone 6 Plus*/
@media(min-width: 640px){body{font-size: 20px;}}


