.login-pic{padding: 30px 0;}
.login-pic img{width: 100px;height: 100px;background-color: #ccc;}

.login-box{padding: 10px 0 0;}
.login-box .col-xs-4{height: 34px;line-height: 34px;}

.col-xs-offset-8{padding-top: 5px;}

.login-btn{padding-top: 30px;}