.main-top{margin: 10% 0;}
.main-top .col-xs-12{padding: 10% 0;border: 1px solid #eee;background:linear-gradient(to bottom,#ffee00,#ffa200);}
.main-top .col-xs-12 p{margin: 0;}


/*.main-body .md-parent-box{padding: 0;background-color: pink;}
.main-body .md-child-box{width: 50%;height: 0;padding:5% 0 30%;border-sizing: border-box;}
.main-body .md-child-box div{width: 30%;height: 0;padding-bottom: 30%;position: relative;background-color: #e51c22;border-radius: 200px;background-color: #E51C22;}
.main-body .md-child-box div.blue{background-color: #018fd9;}
.main-body .md-child-box div img{display: block;width: 70%;height: 70%;top: 50%;left:50%;-webkit-transform: translate(-50%,-50%);position: absolute;}
.main-body .md-child-box span{display: block;width: 100%;padding: 6% 0 0;color: #353535;}*/


.main-footer .col-xs-12{width: 100%;height: 0;padding:5% 0 70%;border-sizing: border-box;}
.main-footer .col-xs-12 div{width: 50%;height: 0;padding-bottom: 50%;position: relative;}
.main-footer .col-xs-12 div.blue{background-color: #018fd9;}
.main-footer .col-xs-12 div img{display: block;width: 100%;height: 100%;top: 50%;left:50%;-webkit-transform: translate(-50%,-50%);position: absolute;}
.main-footer .col-xs-12 span{display: block;width: 100%;padding: 3% 0 3%;color: #353535;}


.footer-box{}
.footer-box .col-xs-12{padding: 0;}

