.search-bar{padding: 10px;}

.main div{padding-top: 30px;}
.main div i{font-size: 36px;color: #10a6e2;}
.main div span{display: block;height: 24px;line-height: 24px;font-size: 16px;white-space:nowrap;}
/*.main div i.icon-style{display: block;margin: 10px;}*/