
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>路由</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="~/Content/suimobile/dist/css/sm.css" rel="stylesheet" />
     <script src="~/Content/suimobile/dist/js/zepto.min.js"></script>
    <script src="~/Content/suimobile/dist/js/sm.min.js"></script>

@*    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>*@


    <!--如果你用到了拓展包中的组件，还需要引用下面两个-->
@*    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>*@

    <link href="~/Content/suimobile/dist/css/sm-extend.min.css" rel="stylesheet" />
    <script src="~/Content/suimobile/dist/js/sm-extend.min.js"></script>

   @* ///文件选择*@
    <link href="~/Content/plus/component.css" rel="stylesheet" />
    <script src="~/Content/plus/custom-file-input.js"></script>
</head>
<body>

    <div class="page-group">

        <div class="page page-current" id='test'>
            <header class="bar bar-nav">
                <h1 class='title'>路由</h1>
            </header>
            <div class="content">
                <div class="content-block">
                    <ul>
                        <li><a href="/test/rout2">ajax加载新页面</a></li>
                        <li><a href="#router3">内联的新页面</a></li>
                    </ul>
                </div>
                <div class="box">
					<input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
					
				</div>

                    <h3>请选择图片文件：JPG/GIF</h3>
    <form name="form0" id="form0">
        <input type="file"   accept="image/*" multiple="multiple" name="file0" id="file0" multiple="multiple" /><br>
        <img src="" id="img0">
    </form>
            </div>
        </div>

        <div class="page" id='router3'>
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="/docs-demos/router">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class='title'>路由</h1>
            </header>
            <div class="content">
                <div class="content-block">
                    这是内联编写的页面，点击左上角的 <a href="#" class='back'>返回</a> 按钮返回上一页。
                </div>
            </div>
        </div>

    </div>
        @section Jsprepare{
    <script>
        $.init();

        $("#file0").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            console.log("objUrl = " + objUrl);
            if (objUrl) {
                $("#img0").attr("src", objUrl);
            }
        });
        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
         }
</body>
</html>