 @{
     Layout = null;
    }

<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>3W联盟</title>

<!-- Bootstrap -->
<link href="/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="/Content/css/global.css" rel="stylesheet">
<link href="/Content/css/my.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
        @section Jsprepare
         {
        
    }
</head>
<body>
<div class="container">
<!-- top nav -->
<div class="row top-nav text-center"><h4 class"">个人中心</h4></div>
<!-- header -->
<div class="media hd-media">
  <div class="media-left media-middle">
    <a href="#"><img class="media-object" src="@ViewBag.headImgUrl" alt=""></a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">昵称 &nbsp;&nbsp;&nbsp;&nbsp;<small>@ViewBag.nickName</small></h4>
    <h4 class="media-heading">等级 &nbsp;&nbsp;&nbsp;&nbsp;<small>112233</small></h4>
    <h4 class="media-heading">推荐人 &nbsp;<small>ddeeff</small></h4>
  </div>
</div>
<!-- main -->
<div class="row">
  <div class="col-xs-12">
    <h3>我的应用</h3>
  </div>
</div>
<div class="row main">
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="balance.html"><img class="media-object" src="/Content/images/balance1.png" alt=""></a>
      </div>
      <a class="media-body" href="balance.html">
        <h4 class="media-heading">余额</h4>
        <p class="media-heading">@ViewBag.balance</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="/user/recommend"><img class="media-object" src="/Content/images/my1.png" alt=""></a>
      </div>
      <a class="media-body" href="/user/recommend">
        <h4 class="media-heading">我的推荐</h4>
        <p class="media-heading">20个客户</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="help.html"><img class="media-object" src="/Content/images/help1.png" alt=""></a>
      </div>
      <a class="media-body" href="help.html">
        <h4 class="media-heading">互助宝</h4>
        <p class="media-heading">0.00</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="bank_card.html"><img class="media-object" src="/Content/images/bank_card1.png" alt=""></a>
      </div>
      <a class="media-body" href="bank_card.html">
        <h4 class="media-heading">银行卡</h4>
        <p class="media-heading">绑定银行卡</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="member.html"><img class="media-object" src="/Content/images/member1.png" alt=""></a>
      </div>
      <a class="media-body" href="member.html">
        <h4 class="media-heading">会员</h4>
        <p class="media-heading">更多会员等级</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="store.html"><img class="media-object" src="/Content/images/store1.png" alt=""></a>
      </div>
      <a class="media-body" href="VipShop">
        <h4 class="media-heading">门店</h4>
        <p class="media-heading">我所属门店</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="order.html"><img class="media-object" src="/Content/images/order1.png" alt=""></a>
      </div>
      <a class="media-body" href="order.html">
        <h4 class="media-heading">我的订单</h4>
        <p class="media-heading">查看订单</p>
      </a>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media md-media">
      <div class="media-left media-middle">
        <a href="bill.html"><img class="media-object" src="/Content/images/bill1.png" alt=""></a>
      </div>
      <a class="media-body" href="bill.html">
        <h4 class="media-heading">账单</h4>
        <p class="media-heading">关注账单动态</p>
      </a>
    </div>
  </div>
</div>

<!-- footer nav -->
<div class="row">
  <div class="col-xs-12 footer-parent-box navbar-fixed-bottom">
    <a class="col-xs-3 footer-child-box" href="index.html"><div class="center-block"><img class="" src="/Content/images/home1.png" alt=""></div><span class="text-center ">首页</span></a>
    <a class="col-xs-3 footer-child-box" href="news.html"><div class="center-block"><img class="" src="/Content/images/news1.png" alt=""></div><span class="text-center">消息</span></a>
    <a class="col-xs-3 footer-child-box" href="/friends"><div class="center-block"><img class="" src="/Content/images/friends1.png" alt=""></div><span class="text-center">好友</span></a>
    <a class="col-xs-3 footer-child-box" href="my.html"><div class="center-block"><img class="active" src="/Content/images/my1.png" alt=""></div><span class="text-center current">我</span></a>
  </div>
</div>

</div><!-- /.container  -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/Content/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>