@{
    //Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>3W联盟</title>

    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/global.css" rel="stylesheet">
    <link href="/Content/css/recommend.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    @section Jsprepare
         {
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
            wx.config(@Html.Raw(ViewBag.config));

            wx.ready(function () {

                wx.onMenuShareAppMessage({
                    title: '测试分析好友',
                    desc: '本书共分10章',
                    link: 'https://www.baidu.com/',
                    imgUrl: 'https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png',
                    trigger: function (res) {
                        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                        
                    },
                    success: function (res) {
                        
                    },
                    cancel: function (res) {
                        
                    },
                    fail: function (res) {
                        
                    }
                });

                wx.onMenuShareTimeline({
                    title: '测试朋友圈', // 分享标题
                    link: 'https://www.baidu.com/', // 分享链接
                    imgUrl: 'https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png', // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

            });
            function shareToFriend() {

                              
            };
        </script>
    }
</head>
<body>
    <div class="container">
<!-- top nav -->
<div class="row">
  <div class="col-xs-12 top-parent-box">
    <a class="col-xs-6 top-child-box" href="my.html"><div class=""><img class="center-block" src="/Content/images/left.png" alt=""></div></a>
    <!-- <a class="col-xs-6 top-child-box" href="#"><div class="box-right"><img class="center-block" src="images/plus.png" alt=""></div></a> -->
  </div>
</div>
<!-- main -->
<div class="row main-top">
	<div class="col-xs-12 text-center">
		<p>当前推荐人数为：<a href="">@ViewBag.num</a>人</p>
	</div>
</div>
<!-- <div class="row main-body">
	<div class="col-xs-12 md-parent-box">
      <a class="col-xs-6 md-child-box" href="#"><div class="center-block"><img class="center-block" src="/Content/images/circle.png" alt=""></div><span class="text-center">分享朋友圈</span></a>
      <a class="col-xs-6 md-child-box" href="#"><div class="center-block blue"><img class="center-block" src="/Content/images/friends.png" alt=""></div><span class="text-center">分享微信好友</span></a>
    </div>
</div> -->
<div class="row main-footer">
      <a class="col-xs-12" href="#"><span class="text-center">扫描二维码关注我们</span><div class="center-block"><img class="center-block" src="/Content/Qr_code_img/QR_code.png" alt=""></div></a>
</div>

<div class="container">
  <div class="row footer-box">
    <h3>分享链接</h3>
    <div class="col-xs-12">
      <input type="text" class="form-control input-lg" placeholder="分享链接">
    </div>
  </div>
</div>

</div>
    <!-- /.container  -->

  
</body>
</html>
