@model ZAppUI.Models.SearchUser
@{
    Layout = null;
    if (ViewData["IsShowAlert"] != null && ViewData["IsShowAlert"].ToString() == "True")
    {
        Response.Write(" <script> alert('" + ViewData["Alert"] + "');</script>");
    }
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @section Jsprepare{}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>3W联盟</title>

    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/global.css" rel="stylesheet">
    <link href="/Content/css/add_friends.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div class="container">
        <!-- top nav -->
        <div class="row">
            <div class="col-xs-12 top-parent-box">
                <a class="col-xs-6 top-child-box" href="/home">
                    <div class="">
                        <img class="center-block" src="/Content/images/left.png" alt=""></div>
                </a>
                <!-- <a class="col-xs-6 top-child-box" href="#"><div class="box-right"><img class="center-block" src="images/plus.png" alt=""></div></a> -->
            </div>
        </div>
        <!-- /.row  -->

        <!-- main -->

        <div class="row">
            <div class="col-xs-12 search-bar">
                @using (Html.BeginForm("searchUser", "AddFriends", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.UserAccount ,new{@class="form-control input-lg",@placeholder="搜索……"})
                        
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-lg btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                }
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row  -->

    </div>
    <!-- /.container  -->


    <div class="row main">
        @*<div class="col-xs-12">
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class="media-object" src="/Content/images/phone1.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">手机联系人</h4>
		    <p class="media-heading">添加或邀请通讯录好友</p>
		  </div>
		</div>
	</div><!-- /.col-xs-12 -->*@

        <div class="col-xs-12">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" src="/Content/images/sweep1.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">扫一扫</h4>
                    <p class="media-heading">扫描二维码添加好友</p>
                </div>
            </div>
        </div>
        <!-- /.col-xs-12 -->

    </div>
    <!-- /.row -->





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Content/js/jquery-1.12.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/js/bootstrap.min.js"></script>
</body>
</html>
