@{
    //Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    @section Jsprepare
        {
        @if (@ViewBag.nickName == null)
        {
<script type="text/javascript">
    $(document).ready(function () {
        $('#info').hide();
    });
            </script>
        }
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sendRequest').click(function () {
                     @Html.Action("addToFriend", "AddFriends")
                 });
             });
        </script>
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>3W联盟</title>

    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/global.css" rel="stylesheet">
    <link href="/Content/css/friend_details.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div class="container">
        <!-- top nav -->
        <div class="row top-nav text-center">
            <h4 class="">添加好友</h4>
        </div>
        <!-- main -->

        <div class="row">

            <div class="col-xs-12" id="info">
                <div class="media media">
                    <div class="media-left media-middle">
                        <a href="user_center.html">
                            <img class="media-object" src=@ViewBag.headImgUrl alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">昵称 &nbsp;<small>@ViewBag.nickName</small></h4>
                        <h4 class="media-heading">姓名 &nbsp;<small>Tna教皇</small></h4>
                        <h4 class="media-heading">等级 &nbsp;<small>V2</small></h4>
                    </div>
                </div>
                <!-- /.media  -->
                <div class="col-xs-12 add-btn text-right">
                    <a class="btn btn-default btn-success" id="sendRequest" role="button" data-toggle="modal" data-target=".bs-example-modal-sm1">添加好友</a>
                    <div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content text-center">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">添加成功</h4>
                                </div>
                                <div class="modal-body">等待对方通过验证……</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-xs-12  -->
        </div>
        <!-- /.row  -->


    </div>
    <!-- /.container  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Content/js/jquery-1.12.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- <script src="/Content/js/script.js"></script> -->
</body>
</html>
